.hero {
  position: relative;
}

.decorative-bar {
  height: 20px;
  background-color: #000;
  border-bottom: 3px solid $theme-color;
}

/** Header **/

.primary-header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;

  img {
    margin-top: 10px;
  }
}

.primary-nav {
  background-color: transparent;

  .top-bar-section a {
    font-weight: 300;
    padding: 12px !important;

    &:hover {
      background-color: $theme-color !important;
    }
  }

  .top-bar-section ul.dropdown li.active a {
    padding: 0 18px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    margin: 2px auto;
    width: 90%;
  }

  .top-bar-section ul.dropdown {
    transform: translate(0%, -10%);
  }
}

/** Hero Box **/

.hero-content {
  padding: 30px 200px 30px 30px;
  color: #FFF;
  position: absolute;
  border-radius: 5px;
  width: 700px;
  top: 150px;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);

  h1 {
    color: #FFF;
    font-weight: 700;
  }

  p {
    font-size: 12pt;
    margin: 10px 0;
    font-weight: 300;
  }

  button {
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid $theme-color;
    border-radius: 3px;
    font-weight: 300;
  }
}

/** Primary Content**/

.primary-content {
  position: relative;
  background-color: rgb(26, 26, 26);
  min-height: 400px;
}

.primary-decorative-bar {
  background-color: $theme-color;
  height: 70px;
}

.content-box-container {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: -160px;
  left: 0;
  right: 0;
}

.content-box {
  margin: 5px;
  display: inline-block;

  img {
    display: block;
    border-radius: 8px 8px 0 0;
  }

  p {
    background-color: #000;
    border-radius: 0 0 8px 8px;
    padding: 12px;
    color: #FFF;
  }
}

.primary-info {
  color: #D8D8D8;
  padding: 30px 0;

  :not(h4) {
    font-weight: 300;
  }

  h4 {
    font-size: 12pt;
    color: #A96021;
  }

  p {
    font-size: 12pt;
  }

  a {
    color: #A96021;
  }

  li {
    color: #A96021;
  }

  ul > * + * {
    margin: 30px 0;
  }

  span {
    color: #D8D8D8;
  }
}

/** Footer **/

.primary-footer {
  background-color: #000;
  color: #585858;
  min-height: 200px;
  text-align: center;

  p {
    padding: 15px;
  }
}